
@{
    ViewBag.Title = "About Me";
}

<h2>About Me</h2>
<h3>Summary</h3>

<div class="container-fluid bg-info">

    <div class="row">
        <div class="col-md-6" style="padding-top:15px">
            <h4>Bio</h4>
            <p>
                Hi there. I'm Frank Ndlovu and welcome to my Media Uploading System.
            </p>
            <p>
                Let me tell you about myself. I am a third year BIT Information Systems student at the University of Pretoria.
                I enjoy being creative in the sense of creating web applications and learning new ways of making my work better.
            </p>
            <p>
                My main goal is to become a prominant figure as far as web development within the country and further
                provide others with opportunities to showcase thier work through the World Wide Web. Also, cloud computing and netwrok security are
                other facets of ICT which I share interest in.
            </p>
            <p>
                Thank you for visting my Media Uploading System.
            </p>
        </div>

        <div class="col-lg-2" style="padding:15px">
            <h4>Frank Ndlovu</h4>
            <img style="width:280px; height:350px;" src="~/Media/AboutPic.jpg" />
        </div>
    </div>
</div>